#Python
*.pyc
*~
__pycache__

#Env
.env
myvenv/
venv/

#Database
db.sqlite3

#Static folder at project root
/static/

#macOS
._*
.DS_Store
.fseventsd
.spotlight-V100

#Windows
Thumbs.db*
ehthumbs*.db
[DS]esktop.ini
$RECYCLE.BIN/

#Visual Studio
.vscode/
.history/
*.code-workspace