<!DOCTYPE html>
<html>
    <head>
        <title>Love</title>
    </head>
    <body>
        <header>
            <h1><a href="/">MY BLOG</a></h1>
        </header>
        
        <article>
            <time>published: 03.03.2025, 08:46</time>
            <h2><a href="">My first post</a></h2>
            <p>The Futher Away You Are From The World, The Closer You Are To The Glory Of GOD.</p>
        </article>

        <article>
            <time>published: 03.03.2025, 08:50</time>
            <h2><a href="">My second post</a></h2>
            <p>EMMANUEL - GOD's with us, HOLY GHOST - GOD's in us.</p>
        </article>
    </body>
</html>        