<!DOCTYPE html>
<html>
    <head>
        <title>Love</title>
    </head>
    <body>
        <header>
            <h1><a href="/">MY BLOG</a></h1>
        </header>
        
        <article>
            <time>published: 1.06.2025</time>
            <h2><a href=" ">MY FIRST BLOG</a></h2>
            <P>If GOD is your motivation, you will not walk in disobedient.</P>
        </article>

        <article>
            <time>published: 1.10.2025</time>
            <h2><a href=" ">MY SECOND BLOG</a></h2>
            <P>If GOD is not needed in little matters, then he will won't be there for you in great matters.</P>
        </article>
    </body>
</html>